#container {
	float: left;
	font-family: sans-serif;
	width: 600px;
}

#timeline-chart {
	float: left;
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: sans-serif;
	font-size: 11px;
}

.lineplot {
	stroke: blue;
	fill: blue;
}

.lineplotpath {
	fill: none;
}

#timelinebackgroundrect {
	fill: none;
}