#container {
	float: left;
	font-family: sans-serif;
	width: 600px;
}

#timeline-chart {
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: sans-serif;
	font-size: 11px;
}

.lineplot {
	stroke: blue;
	fill: blue;
	stroke-width: 2;
}

.lineplotpath {
	fill: none;
}

#timelinebackgroundrect {
	fill: none;
}

.lineplotcircle.highlight {
	fill: orange;
	stroke: orange;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.lineplotcircle:hover {
	fill: red;
	stroke: red;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}