#container {
	float: left;
	font-family: sans-serif;
	width: 600px;
}

svg .axis path,
svg .axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

svg .axis text {
	font-family: sans-serif;
	font-size: 11px;
}

svg .filterplotcircle,
svg line.filterplotline,
svg .lineplot {
	stroke: blue;
	fill: blue;
	stroke-width: 2;
}

svg .lineplotpath {
	fill: none;
}

svg .background{
	fill: white;
}

svg .lineplotcircle.highlight {
	fill: orange;
	stroke: orange;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

svg circle:hover {
	fill: red;
	stroke: red;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}